@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

@media (max-width: 600px) {
	body {
		postion: relative;
		max-width: 100%;
		height: 500px;
		background-color: #263d36;
		background-image: linear-gradient(rgba(204, 255, 255, 0.1),rgba(51, 204, 255, 0.7)),url("https://s3-us-west-2.amazonaws.com/acatmoreimages/background/pexels-photo.jpg");		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		line-height: 1.2;
		padding: 5px 2em;
		text-align: center;
	}
		#image-s{
			display: block;
		}
		#image-m{
			display: none;
		}
		#image-l{
			display: none;
		}
		#image-origin{
			display: none;
		}

}

@media (max-width: 915px) {
	body {
		postion: relative;
		max-width: 100%;
		height: 500px;
		background-color: #263d36;
		background-image: linear-gradient(rgba(204, 255, 255, 0.1),rgba(51, 204, 255, 0.7)),url("https://s3-us-west-2.amazonaws.com/acatmoreimages/background/pexels-photo.jpg");		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		line-height: 1.2;
		padding: 5px 2em;
		text-align: center;
	}
	#image-s{
		display: none;
	}
	#image-m{
		display: block;
	}
	#image-l{
		display: none;
	}
	#image-origin{
		display: none;
	}
}

@media (max-width: 1920px) {
	body {
		postion: relative;
		max-width: 100%;
		height: 850px;
		background-color: #263d36;
		background-image: linear-gradient(rgba(204, 255, 255, 0.1),rgba(51, 204, 255, 0.7)),url("https://s3-us-west-2.amazonaws.com/acatmoreimages/background/pexels-photo.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		line-height: 1.2;
		padding: 5px 2em;
		text-align: center;

	}
	#image-s{
		display: none;
	}
	#image-m{
		display: none;
	}
	#image-l{
		display: block;
	}
	#image-origin{
		display: none;
	}
}

@media (min-width: 1921px) {
	body {
		postion: relative;
		max-width: 100%;
		height: 100%;
		background-color: #263d36;
		background-image: linear-gradient(rgba(204, 255, 255, 0.1),rgba(51, 204, 255, 0.7)),url("https://s3-us-west-2.amazonaws.com/acatmoreimages/background/pexels-photo.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		line-height: 1.2;
		padding: 5px 2em;
		text-align: center;

	}
	#image-s{
		display: none;
	}
	#image-m{
		display: none;
	}
	#image-l{
		display: none;
	}
	#image-origin{
		display: block;
	}
}

html {
	background-color: rgb(0, 94, 128);
}

.profile {
	border-radius: 50%;
	height: auto;
	width: 120px;
	float: center;
	margin-top: 10px;
	/*margin-right: 100px;  for small media screens*/
	border: solid 2px rgb(225, 14, 126);
}

.myName {
	margin-top: 300px;
}

.myName h1 {
	color: rgb(225, 14, 126);
}

.pages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

.social {
	float: right;
	display: inline;
	margin-top: 150px;
}

.social li {
	border-radius: 175px;
	padding: 7px;
}

.social li:hover {
	background: rgb(225, 14, 126);
}

.invert {
	-webkit-filter: invert(100%); filter: invert(100%);
}

.page-home .home {
  display: none;
}

header li {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: center;
	display: inline;
	float: left;
}

header h1 {
	color: rgb(230, 255, 255);
	font-size: 3em;
	font-weight: 30;
}

header h2 {
	color: rgb(225, 14, 126);
}

header a {
	color: rgb(225, 14, 126);
	display: block;
	font-size: 1em;
	letter-spacing: .2em;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
}

header a:hover {
	border-left: 2px;
	color:rgb(225, 14, 126);
}

header img {
	color: white;
	height: 16px;
	width: 16px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(51, 204, 255, 0.8);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -50px;

}

.dropdown:hover .dropdown-content {
	display: block;
	z-index: 3;
}


body {
	display: block;
	max-width: 5000px;
	font-family: "Roboto", "Helvetica", "Ariel", sans-serif;
	color: rgb(252, 248, 231);
}


h2 {
	margin-top: 5px;
	padding-top: 5px;
}

a {
	color: white;
}

.wrapper {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
}
.row {

}

.colDetail {
margin-left: -8%;
}

.colDetail a {
	color: rgb(225, 14, 126);
	font-family: "Roboto", "Helvetica", "Ariel", sans-serif;
	text-decoration: none;
}

.colDetail a:hover {
	background: rgb(225, 14, 126);
	border-radius: 5px;
	color: white;
}

 i {
 	font-size: 4em;
 }

.colMain {

}

.portfolio-img {
	height: auto;
	width: 50%;
	opacity: 0.7;
	margin-left: 22%;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}


