
/*APP CSS*/

@media only screen and (max-width: 768px) {
          /*  mobile*/
  body {
    background-image: none !important;
    background-color: rgb(214, 151, 54);
    background-attachment: none;
  }
  header {
    background-image: none !important;
    background-color: rgb(51, 0, 102);
    width: 100%;
    margin-top: -2.1%;
    border-radius: 10px;
  }
  header h1 {
    color: white;
    margin-left: 25%;
  }
  header p {
    color: white;
    margin-left: 28.5%;
  }
  header a {
    color: rgb(214, 151, 54);
  }
  header ul {
    color: white;
    margin-left: 16%;
  }
  header li {
    display: inline-block;
    margin-left: 5%;
  }
  .staticFooter {
    background-color: rgb(51,0,102);
    background-image: none !important;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    margin-bottom: -5%;

  }
      /* image resizes*/
  .colMain #blocJamsImage {
      margin-left: 8%;
      width: 50%;
      height: 50%;
  }
    .colMain #fourwallaImage {
      margin-left: 8%;
      width: 50%;
      height: 50%;
  }
    .colMain #railvolutionImage {
      margin-left: 8%;
      width: 50%;
      height: 50%;
  }
    .colMain #acatmoreTasksImage {
      margin-left: 8%;
      width: 50%;
      height: 50%;
  }
      .colMain #civilityImage {
      margin-left: 8%;
      width: 50%;
      height: 50%;
  }
}
@media only screen and (min-width: 1024px) {
          /* desktop*/
  body {
    background-color: rgb(0,0,0,1);
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    min-width: 1024px;
    min-height: 768px;

  }

  html {
    margin: 0px;
    padding: 0px;
  }

  .static {     
    width:100%;
    z-index:3;
    height:125px;
    position: fixed; 
    margin: 0px;
    padding: 0px;
    background-color: rgb(0,0,0,.5);  
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .staticFooter {
    width:100%;
    z-index:3;
    height:125px;
    position: fixed; 
    margin-top: -125px;
    bottom: 0px;
    clear: both;
    padding: 0px;
    background: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
  /*  background-color: rgb(0,0,0);*/ 

    background: linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.6));
   
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .footerContainer {
    padding-top: 50px;
  }

  .mainView {
    position:relative;
    padding-top: 125px;
    z-index: 2;
    overflow: hidden;
  }
  header {
    background: rgb(0,0,0,1);
    opacity: 1;
    width: 100%;
    margin: 0;
    padding: 5px 15px 15px 10px;
    border-radius: 10px;
    position: fixed;
    font-family: 'Slabo 27px', serif;
  }


  header h1 {
    display: inline;
    text-align: center;
    color: rgb(51,0,102);
    font-size: 32px;
  }

  header p {
    margin-left: 4%;
    color: rgb(51,0,102);
  }
  header div {
    margin-left: 45%;
  }

  nav ul {
    margin: 0;
    display: inline;
    float: left;

  }

  nav ul li {
    background: (0,0,0,0);
    color: rgb(51,0,102);
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px;
    border: 10px;
    border-radius: 10px
  }

  nav ul a {
    color: white;
    font-weight: bold;
    text-decoration:none;
    font-size: 24px
  }

  nav ul a:hover {
    text-decoration: none;
    color: rgb(51,0,102);

  }

  #footer ul li {
    color: rgb(240,255,255);
    display: inline-block;
    list-style-type: none;
    margin-left: 4%;
  }
  #footer ul li h1 {
    color: rgb(240,255,255);
    font-size: 20px;
    display: inline-block;
  }
  #footer ul a {
    color: rgb(240,255,255);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
  }

  #footer ul a:hover {
    text-decoration: none;
    color: rgb(51,0,102);
  }

  .row {
    clear: both;
    margin-bottom: 10px;
    margin-left: 10px;
    background: rgb(255, 165, 0, .5);
  }

  .row:after { 
    clear: both; 
    content: " "; 
    display: table;
  }

  .colMain {
    background: rgb(0,0,0,1);
    opacity: .8;
    color: black;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    float: right;
    width: 45%;
    height: 60%;
  }

  .colDetail {
    background: rgb(255,255,255,.4);
    color: black;
    border-radius: 10px;
    padding: 2%;
    padding-color: #001a00;
    margin: 2%;
    float: left;
    width: 30%;
    height: 400px;
  }

  .colDetail h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 27px;
    font-weight: bold;
  }

  .colDetail p {
    color: rgb(240,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  .colDetail a {
    color: rgb(51,0,102);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }

  .colDetail a:hover {
    color: rgb(240,255,255);
  }

  .aboutBackground {
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .aboutContainer {
    position: absolute;
    margin-top: 125px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(0,0,0,0.5);
    color: rgb(240,255,255);

  }

  .aboutContainer h1 {
    font-size: 20px;
    color: rgb(51,0,102);

  }

  .aboutContainer a{
    color: rgb(240,255,255);
    text-decoration: none;
  }

  .aboutContainer a:hover {
    color: rgb(51,0,102);
  }

  .blogBackground {
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .blogContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    color: rgb(51,0,102);

  }
}


