
/*APP CSS*/
* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  background-color: rgb(0,0,0,1);
  background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 1023px) {
/*  mobile and ipad screens*/
  .static {     
    width:100%;
    z-index:3;
    height:165px;
    position: fixed; 
    margin: 0px;
    padding: none;
    background-color: rgb(0,0,0,.5); 
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg'); 
    background-attachment: fixed;
    /*llows the divs to 'disappear' behind the background */
    background-size: cover;
    background-position: center center;
  }

  .headerOverLay {
    width: 100%;
    heigt: 100%;
  }
  nav {
    opacity: 1;
    text-align: left;
  }
  .name {
    text-align: center;
    display: inline-block;
  }
  header {
    background-image: none !important;
    background-color: rgb(51, 0, 102);
    opacity: .6;
    width: 100%;

  }
  header h1 {
    color: rgb(214, 151, 54);
    margin-top: 0;
    margin-left: 33%;
  }
  header p {
    color: rgb(214, 151, 54);
    margin-left: 38%;
  }
  header a {
    color: rgb(214, 151, 54);
    text-decoration:none;
  }
  header ul {
    color: white;
  }
  header li {
    display: inline-block;
    margin-left: 5%;
  }

  body { 
    margin: 0;
    text-align: center;
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
  }

  .wrapper {
    padding-top: 160px;
    padding-bottom: 50px;
  }
  .mainView {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .row {
    margin: 0px;
    padding-top: 75px;
  }
      /* image resizes*/
  .colDetail {
      margin-left: 29%;
      border-radius: 10px 10px 0px 0px;
      margin-bottom: 0px;
      margin-top: 10%;
      width: 50%;
      height: 50%;
      background-color: rgb(252, 224, 159);
      opacity: 0.7;
      border-bottom: 2px solid;
  }
  .colDetail a {
    text-decoration:none;
  }

  .colDetail #blocJamsText {
    margin-top: 30%;
  }
  .colMain #blocJamsImage {
    margin-left: 8%;
    width: 50%;
    height: 50%;
  }
  .colMain #fourwallaImage {
    margin-left: 8%;
    width: 50%;
    height: 50%;
  }
  .colMain #railvolutionImage {
    margin-left: 8%;
    width: 50%;
    height: 50%;
  }
  .colMain #acatmoreTasksImage {
    margin-left: 8%;
    width: 50%;
    height: 50%;
  }
  .colMain #civilityImage {
    margin-left: 8%;
    width: 50%;
    height: 50%;
  }

  .staticFooter {
  background-color: rgb(51,0,102);
  background-image: none !important;
  width: 100%;
  z-index:3;
  margin-bottom: -5%;

  }
  .footerContainer ul {
  display: inline-block;
  list-style-type:none;
  margin-left: 5%;
  padding: 0;
  }
  .footerContainer li {
    float: left;
    display: inline;
  }
  .footerContainer a {
    display: block;
    padding: 8px;
  }
}

@media only screen and (min-width: 1024px) {
          /* desktop*/
  body {
    min-width: 1024px;


  }

  html {
    margin: 0px;
    padding: 0px;
  }

  .static {     
    width:100%;
    z-index:3;
    height:150px;
    position: fixed; 
    margin: 0px;
    padding: 0px;
    background-color: rgb(0,0,0,.5);  
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  /////////* footer*//////////

  .staticFooter {
    width:100%;
    z-index:3;
    height:125px;
    position: fixed; 
    margin-top: -125px;
    bottom: 0px;
    padding: 0px;
    background: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-color: rgb(51,0,102); 
    background: linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.6));
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

    .footerContainer ul {
    display: inline;
    list-style-type:none;
    margin-left: 50%;

  }
    .footerContainer li {
      float: left;
      display: inline;
    }
    .footerContainer a {
      display: block;
      padding: 0px;
    }

  #footer ul li {
    color: rgb(240,255,255);
    display: inline-block;
    list-style-type: none;
    margin-left: 5%;
  }
  #footer ul li h1 {
    color: rgb(240,255,255);
    font-size: 20px;
    display: inline-block;
  }
  #footer ul a {
    color: rgb(240,255,255);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;

  }

  #footer ul a:hover {
    text-decoration: none;
    color: rgb(51,0,102);
  }

  ///////////////////////////////

  header {
    background: rgb(0,0,0,1);
    opacity: 1;
    width: 100%;
    margin: 0;
    padding: 5px 15px 15px 10px;
    border-radius: 10px;
    position: fixed;
    font-family: 'Slabo 27px', serif;
  }


  header h1 {
    display: inline;
    text-align: center;
    color: rgb(51,0,102);
    font-size: 32px;
  }

  header p {
    margin-left: 4%;
    color: rgb(51,0,102);
  }
  header div {
    margin-left: 45%;
  }

  nav ul {
    margin: 0;
    display: inline;
    float: left;

  }

  nav ul li {
    background: (0,0,0,0);
    color: rgb(51,0,102);
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px;
    border: 10px;
    border-radius: 10px
  }

  nav ul a {
    color: white;
    font-weight: bold;
    text-decoration:none;
    font-size: 24px
  }

  nav ul a:hover {
    text-decoration: none;
    color: rgb(51,0,102);

  }

  .mainView {
    position:relative;
    padding-top: 125px;
    z-index: 2;
    overflow: hidden;
  }
  .wrapper {
  }
  .row {
    clear: both;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 60px;
    background: rgb(255, 165, 0, .5);
  }

  .row:after { 
    clear: both; 
    content: " "; 
    display: table;
  }

  .colMain {
    background: rgb(0,0,0,1);
    opacity: .8;
    color: black;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    float: right;
    width: 45%;
    height: 60%;
  }

  .colDetail {
    background-color: rgb(252,224,159);
    color: black;
    border-radius: 10px;
    padding: 2%;
    padding-color: #001a00;
    margin: 2%;
    margin-top: 5%;
    float: left;
    width: 30%;
    height: 20%;
  }

  .colDetail h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 27px;
    font-weight: bold;
  }

  .colDetail p {
    color: rgb(28,20,19);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  .colDetail a {
    color: rgb(51,0,102);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }

  .colDetail a:hover {
    color: rgb(240,255,255);
  }

  .aboutBackground {
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .aboutContainer {
    position: absolute;
    margin-top: 125px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(0,0,0,0.5);
    color: rgb(240,255,255);

  }

  .aboutContainer h1 {
    font-size: 20px;
    color: rgb(51,0,102);

  }

  .aboutContainer a{
    color: rgb(240,255,255);
    text-decoration: none;
  }

  .aboutContainer a:hover {
    color: rgb(51,0,102);
  }

  .blogBackground {
    background-image: url('https://s3-us-west-2.amazonaws.com/acatmoreimages/background/road-sunset.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .blogContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    color: rgb(51,0,102);

  }
}


