/* CSS declarations go here */
body {
  margin: 0;
/*  background-image: url("https://s3.amazonaws.com/civilityimages/solar-system-11188__340.jpg");*/
  background-color: white;
  color: white;
}

header {
  background: #0BFFC2;
  color: #000;
  margin: 0;
  padding: 5px 15px 75px 10px;
}

header h1 {
  margin: 0;
  display: block;
  float: right;
}

header p {
  margin: 0;
  display: inline;
  float: right;
}
nav ul {
  margin: 0;
  display: inline;
}

nav ul li {
  background: black;
  color: white;
  display: inline-block;
  list-style-type: none;
  padding: 5px 10px;
}

nav ul a {
  color: white;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.row {
  clear: both;
  margin-bottom: 10px;
  margin-left: 10px;
  background: white;
}

.row:after { 
  clear: both; 
  content: " "; 
  display: table;
}

.colMain {
  background: #0BFFC2;
  color: white;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  float: right;
  width: 50%;
  height: 425px;
}

.colDetail {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 2%;
  padding-color: #001a00;
  margin: 2%;
  float: left;
  width: 30%;
  height: 400px;
}